@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Overpass:wght@400;700&display=swap');

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  color: var(--very-dark-grayish-blue);
  background-color: var(--light-grayish-blue);
}

.main-container {
  width: 920px;
  height: 345px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: white;
  border-radius: 12px;
  /* letter-spacing: 1px; */
}

.main-container .main-img {
 width: 350px;
 height: 345px;
 object-fit: cover;
 border-top-left-radius: 12px;
 border-bottom-left-radius: 12px;
}

.main-container .card-text {
  padding: 30px;
}

.card-text h2 {
  margin-bottom: 20px;
  margin-top: 10px;
}

.main-container .card-text p {
  color: var(--desaturated-dark-blue);
  font-weight: 800;

}

.share-avatar-container {
  display: block;
  position: absolute;
}

.share-section {
  display: flex;
  position: relative;
  bottom: 100px;
  left: 210px;
  text-align: center;
  width: 290px;
  height: 70px;
  align-items: center;
  margin: 0 auto;
  background-color: var(--very-dark-grayish-blue);
  color: white;
  font-weight: 300;
  border-radius: 12px;
  letter-spacing: 8px;
}

.share-section.activo {
  display: none;
}
/*punta del globo*/
.share-section::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: var(--very-dark-grayish-blue);
  transform: translateX(-50%);
}

.share-section p {
  margin: 0 30px;
}

.share-section a {
  margin: 0 5px;
}

.avatar-section {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 7fr 1fr;
  grid-column: 3 / 4;
  padding: 0 30px;
  bottom: 65px;
}

.avatar-section.activo {
  position: relative;
  top: 5px;
}

.avatar-section .avatar-photo {
  width: 50px;
  border-radius: 50%;
}

.avatar-section .name-p {
  font-weight: 900;
}

.avatar-section .date-p {
  color: var(--grayish-blue);
}

.avatar-section .share-button {
  position: relative;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.avatar-section .share-button img {
  width: 20px;
  object-fit: cover;
}

@media (max-width: 1100px) {

  body {
    display: grid;
    justify-content: center;
    align-items: start;
  }

  .main-container {
    max-width: 350px;
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin-top: 20px;
    /* letter-spacing: 1px; */
  }

  .main-container .main-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
   }

  .card {
    background-color: white;
    height: 380px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .card-text h2 {
    margin-bottom: 20px;
    margin-top: 0px;
  }
}